flows.json
[{"id":"4890c87b.462228","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c157f4f4.0b20b8","type":"function","z":"4890c87b.462228","name":"PreToken","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"tst\",msg.payload.tst)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"Y8QmOWjDG0ndNmud4-6vTGPKn_B1YSI6re37L3AXsbUH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["b5bcebe6.393fa8"]]},{"id":"b5bcebe6.393fa8","type":"http request","z":"4890c87b.462228","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":519,"y":308.9999952316284,"wires":[["649916ec.0b9ff8"]]},{"id":"aef92b49.8cdf18","type":"debug","z":"4890c87b.462228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":958.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"649916ec.0b9ff8","type":"function","z":"4890c87b.462228","name":"Pre Prediction","func":"var pr = global.get('pr')\nvar pl = global.get('pl')\nvar pre = global.get('pre')\nvar sk = global.get('sk')\nvar tst = global.get('tst')\nvar ms = global.get('ms')\nvar pe = global.get('pe')\nvar a = global.get('a')\nvar token=msg.payload.access_token\nvar instance_id=\"38600edf-d83a-432b-a7ad-376d021da701\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \"plas\", \"pres\", \"Skin\",\"test\",\"mass\",\"pedi\",\"age\"], \"values\": [[pr,pl,pre,sk,tst,ms,pe,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["dd53a82e.8a8d98"]]},{"id":"dd53a82e.8a8d98","type":"http request","z":"4890c87b.462228","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/4c7778da-ca37-4319-a7af-ec7f8bc6ea25/predictions","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":200,"wires":[["7adca2fe.61d67c","aef92b49.8cdf18"]]},{"id":"c3eafef4.7c4ec","type":"ui_form","z":"4890c87b.462228","name":"","label":"","group":"3eadd61b.91660a","order":2,"width":0,"height":0,"options":[{"label":"preg","value":"pr","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pre","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"tst","type":"number","required":true,"rows":null},{"label":"mass","value":"ms","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","tst":"","ms":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":111,"y":362.9999952316284,"wires":[["c157f4f4.0b20b8"]]},{"id":"c7d807b2.fae3f8","type":"ui_text","z":"4890c87b.462228","group":"3eadd61b.91660a","order":3,"width":0,"height":0,"name":"","label":"class","format":"{{msg.payload}}","layout":"row-spread","x":837.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"7adca2fe.61d67c","type":"function","z":"4890c87b.462228","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":669.6000366210938,"y":111.60000133514404,"wires":[["c7d807b2.fae3f8"]]},{"id":"3eadd61b.91660a","type":"ui_group","z":"","name":"Diabetic Mellitus Prediction","tab":"861c42ca.3292a","order":1,"disp":true,"width":"6","collapse":false},{"id":"861c42ca.3292a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]